.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.form-control{
  padding:20px;
  margin-bottom: 10px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.errmsg{
  color: red;
}
.header{
  width: 100%;
  background-color: blue;
  color: #fff;
  padding: 1%;
}
a{
  text-decoration: none !important;
  color: white !important;
  padding: 2px;
}
app-check{
  height: 20px;
  width: 20px;
  margin: 5%;
}
.header{
  width: 100%;
  background-color: blue;
  color: #fff;
  padding: 1%;
}
a{
  text-decoration: none !important;
  color: white !important;
  padding: 2px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  text-align: center;
  background-color: #f5f5f5;
}

h1 {
  margin-bottom: 2rem;
}

.card-container {
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
  justify-items: left;
  align-items: stretch,
}


.card {
  background-color: #ffffff;
  color: #333333;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
  transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card p {
  margin-bottom: 0.5rem;
  font-size: 14px;
}
