.App {
  text-align: center;
  background-color: #f5f5f5;
}

h1 {
  margin-bottom: 2rem;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
  justify-items: center;
}


.card {
  background-color: #ffffff;
  color: #333333;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
  transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card p.email {
  color: #333333;
  transition: color 0.3s ease-in-out;
}

.card p.email:hover {
  color: #007bff;
}

.card h2 {
  margin-top: 0;
}

.card p {
  margin-bottom: 0.5rem;
  font-size: 14px;
}
